*{
    margin: 0;
    padding: 0;
 
}

body{
    font-family: 'Mulish';
    width: 1600px;
    height: 2000px;
    background: #FFFFFF;
}

a{
    text-decoration: none;
}

header{
    display: block;
    margin-top: 25px;
    margin-left: 25px;
}

#logo-txt{
    width: 107px;
    height: 30px;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    font-family: 'Mulish';
    color: #233348;
}

#logo-txt-rev{
    color: #FFFFFF;
}

nav{
    display: block;
    height: 23px;
    margin-top: 30px;
    margin-left: 25px;
}

nav a{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;
    line-height: 23px;
}

nav a:hover{
    color: #000000;
    opacity: 100;
    font-weight: 700;
}

main{
    display: block;
    margin-left: 25px;
}

footer{
    display: block;
    height: 325px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    font-size: 20px;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 50px;
}

h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
}

p{
    color: #7D7987;
    font-weight: 300;
}

.p1{
    font-size: 21px;
    line-height: 32px;
}

.p2{
    font-size: 18px;
    line-height: 30px;
}

.p3{
    font-size: 16px;
    line-height: 28px;
}

.p-white{
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

hr{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 78px;
    border-radius: 6px;
    width: 56px;
    height: 2px;
    background: #000000;
}

.hr-white{
    background-color: #FFFFFF;
    margin-left: 246px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
}

.txt-white{
    color: #FFFFFF;
}

.bttn{
    display: block;
    color: #FFFFFF;
    width: 200px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    background: #458FF6;
    border-radius: 55px;
}

.bttn-rev{
    color:#458FF6;
    border: 1.4px solid #458FF6;
    background: #FFFFFF;
}

.flex-container1{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content{
    margin-bottom: 63px;
}

.main-content h1{
    margin-top: 83px;
    margin-bottom: 14px; 
    margin-left: 25px; 
}

.group-img{
    position: absolute;
    top: 197px;
    z-index: -1;
    border-radius: 0px;
}

.consult-us{
    margin-bottom: 101px;
}

.consult-us h2{
    margin-bottom: 20px;
}

.consult-us p{
    margin-bottom: 20px;
}

.services{
    width: 1120px;
    margin-bottom: 336px;
}

.services p{
    width: 261px;
    margin-bottom: 100px;
    align-self: center;
}

.services > p{
    width: 952px;
}

.services > a{
    margin-top: 33px;
}

.services div a{
    width: 250px;
    height: 294px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    margin: 0;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
border-radius: 20px;
}

.services i{
    color: #458FF6;
    font-size: 95px;
    text-align: left;
}

.services h3{
    color: #000000;
}

.social{
    margin-bottom: 68px;
    line-height: 60px;
}

.social a{
    width: 41px;
    color: #FFFFFF; 
    line-height: 28px;
    margin-right: 17px;
}

.footer-logo{
    height: 41px;
}

.cpyright{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300px;
    line-height: 28px;
    margin-top: 130px;
}

.testimonial{
    margin-top: 78px;
    padding-top: 25px;
    margin-bottom: 70px;
}

.testimonial article{
    width: 1095px;
    height: 445px;
    margin-top: 25px;
    padding-left: 25px;
    padding-top: 25px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}

.testimonial h1{
    margin-left: 25px;
}

.testimonial p{
    width: 420px;
    margin-bottom: 5px;
}

.testimonial article img{
    display: block;
    border-radius: 1000px;
    border: 4px solid #FFFFFF;
    margin-bottom: 10px;
}

.testimonial > img{
    margin-top: 19px;
}


.testimonial span{
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
}

.testimonial span:last-of-type{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.articles{
    width: 1121px;
    height: 725px;
    margin-bottom: 41px;
}

.articles h2{
    margin-bottom: 59px;
}

.articles article{
    width: 350px;
    height: 512px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
border-radius: 20px;
}

.articles article a{
    color: #4089ED;
}

.articles img{
    border-radius: 20px 20px 0px 0px;
}

.articles p{
    width: 266px;
    height: 84px;
    margin-bottom: 25px;
}

.articles a:last-of-type{
    margin-top: 38px;
}

#selected{
    color: #000000;
    font-weight: 700;
    opacity: 100;
}
